body {
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    background-color: black;
    padding: 0;
    margin: 0;
}
body.light-theme, #centralized-div.light-theme {
    background-color: white;
    color: black;
}
#centralized-div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #1c1b1b;
    color: white;
    width: 100vh;
}
#centralized-div > hr {
    width: 100%;
    border: 1px solid #757575;
}
nav {
    display: flex;
    width: 100%;
    justify-content: end;
}

.start {
    display: flex;
    justify-content: start;
}