a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
    background-color: #353535;}

h1 {
    margin-bottom: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: rubik,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 20px;
    padding: 0;
    margin: 0;
    background-color: #191919;
    background-image: url("../assets/dark-background.png");
}


body.light-theme, #centralized-div.light-theme {
    background-color: #eaeaea;
    color: black;

    header {
        border: 2px solid black;
        background-color: #bcbcbc;
    }

    #centralized-div {
        background-color: #e3e3e3;
        color: black;
    }

    a { color: black;}
    .side-by-side-container > div { background-color: #c6c6c6;}
}

/* NAV */
header {
    position: sticky;
    top: 5px;
    margin-top: 10px;
    border: 2px solid #b5b5b5;
    border-radius: 10px;
    background-color: #101010;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

header > nav {
    padding-left: 20px;
}

header > nav > a {
    padding-left: 5px;
    padding-right: 5px;
}

#header-buttons {
    display: flex;
    padding-right: 20px;
}

.lang-button {
    margin-right: 5px;
    margin-left: 5px;
    border: #006000 1px solid;
    border-radius: 2px;
    background-color: black;
    color: white;
    font-size: 18px;
}

#theme-toggle {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-right: 1vw;
    padding-right: 5px;
}

/* MAIN */

#centralized-div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    background-color: #1c1b1b;
    color: white;
    width: 100vh;
    padding: 0 7vh 5vh;
}

#centralized-div > hr {
    width: 100%;
    border: 1px solid #757575;
}

figure > img {
    width: 700px;
    height: 400px;
}

.center {
    display: flex;
    justify-content: center;
}

/* PROJECTS */
.side-by-side-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
} 
.side-by-side-container > div {
    border: solid 3px black;
    border-radius: 10px;
    background-color: #3a3a3a;
    padding: 10px;
}

.left {
    display: inline-flex;
    order: 0;
    flex-direction: column;
    margin-left: 0;
}

.right {
    display: inline-flex;
    flex-direction: column;
    order: 1;
    margin-right: 0;
    flex-shrink: 10;
}

.icon {
    width: 100px;
    height: 100px;
}

/* FOOTER */
#tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2vh; 
}

#frameworks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.contact-icon {
    width: 40px;
    height: 40px;
}

#contato {
    display: flex;
    flex-direction: column;
}

#contato > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

#contato > div > img {
    margin-right: 15px;
}